@model List<ClienteModel>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>@ViewData["Title"]</h1>
<br />
<p>Seja bem-vindo(a),</p>
<p>A lista de todos os clientes.</p>
<br />
<br />

<p>
    <a asp-action="AddCliente" class="btn btn-primary"><i class="fas fa-plus"></i> Adicionar Cliente</a>
</p>

@if (Model != null && Model.Count > 0)
{
    <form id="clientesForm" method="post" asp-action="DeleteSelectedClientes">
        <table class="table">
            <thead>
                <tr>
                    <th>Selecionar</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Endereço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="selectedClientes" value="@cliente.Id" />
                        </td>
                        <td>@cliente.Nome</td>
                        <td>@cliente.CPF</td>
                        <td>@cliente.Telefone</td>
                        <td>@cliente.Email</td>
                        <td>@cliente.Endereco</td>
                        <td>
                            <a asp-action="EditCliente" asp-route-id="@cliente.Id" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</a>
                            <a asp-action="DeleteCliente" asp-route-id="@cliente.Id" class="btn btn-danger"><i class="fas fa-trash"></i> Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Excluir Selecionados</button>
    </form>
}
else
{
    <p>Nenhum cliente cadastrado.</p>
}
