@model List<ClienteModel>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>@ViewData["Title"]</h1>
<br />
<p>
    Seja bem vindo(a), <br />
    a lista  de todos clientes.
</p>
<br />
<br />

<p>
    <a asp-action="AddCliente" class="btn btn-primary">
        <i class="fas fa-plus"></i> Adicionar Cliente
    </a>
</p>

@if (Model != null && Model.Count > 0)
{
    <form id="clientesForm" method="post" asp-action="DeleteSelectedClientes">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="selectAll" />
                    </th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Endereço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="selectedClientes" value="@Model[i].Id" />
                        </td>
                        <td>@Model[i].Nome</td>
                        <td>@Model[i].CPF</td>
                        <td>@Model[i].Telefone</td>
                        <td>@Model[i].Email</td>
                        <td>@Model[i].Endereco</td>
                        <td>
                            <a asp-action="EditCliente" asp-route-id="@Model[i].Id" class="btn btn-warning">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a asp-action="DeleteCliente" asp-route-id="@Model[i].Id" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i> Excluir
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Apagar Selecionados
        </button>
    </form>
}
else
{
    <p>Nenhum cliente encontrado.</p>
}

@section Scripts {
    <script>
        document.getElementById("selectAll").addEventListener("change", function () {
            var checkboxes = document.querySelectorAll('input[name="selectedClientes"]');
            for (var checkbox of checkboxes) {
                checkbox.checked = this.checked;
            }
        });

        document.querySelectorAll('input[name="selectedClientes"]').forEach(checkbox => {
            checkbox.addEventListener('keydown', function (event) {
                if (event.code === 'Space') {
                    event.preventDefault();
                    this.checked = !this.checked;
                }
            });
        });
    </script>
}
